<div class="sideBar">
  <div class="profile" routerLink="/" routerLinkActive="active">
   
    <fa-icon [icon]="faUser" class="faUser"></fa-icon>
  
  </div>
  <div class="nav-menu">
    <div class="nav-item" routerLink="/Details" routerLinkActive="active">
      <div class="number active">01</div>
      <div class="text-box">
        <p class="sub-text active-text">STEP 01</p>
        <p class="main-text">Basic Details</p>
      </div>
    </div>
    <div class="nav-item">
      <div class="number">02</div>
      <div class="text-box">
        <p class="sub-text">STEP 02</p>
        <p class="main-text">Discount</p>
      </div>
    </div>
    <div class="nav-item" routerLink="/Payment" routerLinkActive="active">
      <div class="number">03</div>
      <div class="text-box">
        <p class="sub-text">STEP 03</p>
        <p class="main-text">Payment</p>
      </div>
    </div>
    <div class="nav-item">
        <div class="number">04</div>
        <div class="text-box">
          <p class="sub-text">STEP 04</p>
          <p class="main-text">Referral Bonus</p>
        </div>
      </div>
  </div>
</div>
