.sideBar{
    width:20%;
    height: 100vh;
    color:#fff;
    background-color: #492CC5;
    position: fixed;
}

.profile{
    height: 100px;
    width: 100px;
    margin: 25px 40px ;
}

.nav-menu{
    margin: 30px 40px;
    .nav-item{
        padding:25px 0px;
        display: flex;

        .number{
            width:45px;
            height:50px;
            border-radius: 5px;
            border: 1px solid #FFF;
            color:#FFF;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }

        .active {
            border: 2px solid #FBCC4C;
            color:#FBCC4C;
        }

        .text-box{
            display:block;

            .main-text{
                color:#fff;
                font-size: 18px;
            }
    
            .sub-text{
                color: #FFF;
                font-size: 13px;
                font-weight: 400; 
                padding: 5px 0px;
            }

            .active-text{ 
                color:#FBCC4C; 
            }

        } 
     }
}
.support-box{
    border-bottom-left-radius:5px ;
    border-top-left-radius:5px;
    margin:10px 0px 0px 35px;
    padding: 10px 5px;
    background-color:rgba(0, 0, 0, 0.26);
    display: flex;
    .ques-box{
        width:50px;
        height:50px;
        border-radius: 100%;
        border: 1px solid #fff;
        margin:10px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            color:#fff;
            font-size: 18px;
            font-weight:bold;
        }
        
    }
    .text-box{
        padding:10px;
        p, span{
            color:#fff;
            font-size: 15px;
            font-weight: 500; 
            display: flex;
            align-items: center;
            justify-content: left;
        }
        span{
            font-weight: 400;
        }
    }
}

.faUser{
    font-size:90px;  
  }





