.container{
    width: 80%;
    height: 100vh;
    background-color:#F4F6F7;
    margin-left:20%;
    .content{
        padding: 45px 50px 10px;
        .header{
            width:50%;
            .main-text{
                font-size: 30px;
                font-weight: bold;
                color:#313A42;
                margin:0px !important;
                padding-bottom: 5px;
                
            }
            .sub-text{
                font-size: 18px;
                font-weight: 400;
                color:#ABB0B3;
            }
        }
        .card-section{
            display: flex;
            .payment-card{
                width: 50%;
                height: 370px;
                border-radius: 7px;
                margin:32px 0px;
                padding: 15px;
                background-color: #fff;
                box-shadow:  0 2px 1px 0px rgba($color: #000000, $alpha: 0.125);

                .section-1{
                    height: 175px;
                    .main-text{
                        font-size: 15px;
                        font-weight: bold;
                        color:#000;
                        padding-left: 5px;
                    }
                    .card-name{
                        input {
                            width:95%;
                            margin:5px;
                            height:30px;
                            border-width: 0 0 2px;
                            background-color: none;
                            outline: 0;
                        }
                        input:focus {
                            border-color: blue;
                        }
                        input:placeholder-shown{
                            color:#000;
                            font-weight: 400;
                            font-size: 15px;
                        }
                    }
                    .card-details{
                        display: flex;
                        justify-content: space-between; 
                        label{
                            font-size: 12px;
                            color: #000;
                            font-weight: 500;
                            margin: 5px;
                        }
                        input {
                                width:26%;
                                margin:5px;
                                height: 30px;
                                padding: 10px 0px;
                                border-width: 0 0 2px;
                                background-color: none;
                                outline: 0;
                        }
                        input:focus {
                            border-color: blue;
                          }
                        input:placeholder-shown {
                            color: #9EA2B4;
                            font-size: 15px;
                        }
                    }
                }
                .section-2{
                    height: 175px;
                    .main-text{
                        font-size: 15px;
                        font-weight: bold;
                        color:#000;

                    }
                    .addr{
                        display: flex;
                        justify-content: space-between; 
                        input {
                            width:50%;
                            margin:5px;
                            height: 30px;
                            padding: 10px 0px;
                            border-width: 0 0 2px;
                            background-color: none;
                            outline: 0;
                    }
                    input:focus {
                        border-color: blue;
                      }
                    input:placeholder-shown {
                        color: #9EA2B4;
                        font-size: 15px;
                    } 
                    }
                }
            }
    
            .price-card{
                width: 30%;
                height: 270px;
                border-radius: 7px;
                margin: 32px 50px;
                background-color: #5031C9;
                box-shadow:  0 2px 1px 0px rgba($color: #000000, $alpha: 0.125);
            }
        }  
        
        .cta-section{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .prev-btn a{
                font-size: 15px;
                color:#ABB0B3;
                text-decoration: none;
                cursor: pointer; 
            }

            .prev-btn:hover{
                width:100px;
                height: 40px;
                background-color:rgba($color: #fff, $alpha: 0.8);
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .pay-btn{
                width:100px;
                height: 40px;
                border-radius: 7px;
                color:#fff;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #492CC5;
                cursor:progress;
            }
        }
    }
}
